@font-face {
    font-family: 'LEQUIPE';
    src: local('LEQUIPE Regular'), local('LEQUIPE-Regular'),
        url('LEQUIPE-Regular.woff2') format('woff2'),
        url('LEQUIPE-Regular.woff') format('woff'),
        url('LEQUIPE-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }